<!-- <div class="ui container"> -->
  <div class="ui stackable inverted divided equal height stackable grid">

    <div class="three wide column">
      <h4 class="ui inverted header">About</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">Our Mission</a>
        <a href="#" class="item">Contact Us</a>
        <a href="#" class="item">Legal Disclaimer</a>
      </div>
    </div>

    <div class="three wide column">
      <h4 class="ui inverted header">Information</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">Our Mission</a>
        <a href="#" class="item">Contact Us</a>
        <a href="#" class="item">Legal Disclaimer</a>
      </div>
    </div>

    <div class="seven wide column">
      <h4 class="ui inverted header">Help Us Improve</h4>
      <p>This site will only succeed with your support.

    </div>
  </div>
<!-- </div> -->
