small {
  font-size: 0.6em;
}

h1 {
  font-size: 3em;
  /*text-decoration:overline underline;*/
  font-weight:bolder;
  /*font-weight:lighter;*/
  height:20px;
}

body {
  background-color: #FFFFFF;
}

p {
  line-height: 30px;
}
/*LINK COLOR DEFAULT for whole website*/
a {
  text-decoration: underline;
  color: #401760;
}

/*LINK STYLE DEFAULT ON HOVER for whole website*/
a:hover {
  color: #bfbfbf !important;
  text-decoration: underline !important;
}

label {
  font-weight: bold;
}

/*======== BASE MAIN GRID =======================================================*/

.ui.main.text {
  padding-top:0px !important;
}

.page_title_row {
  padding: 150px 0px 0px 0px;
  /* margin: 0px; */
  /*background-color: #44285b !important;*/
  /*color: white;*/
  /* border-bottom: 1px solid black !important; */
  text-transform: uppercase;
}

.main_content_container {
  padding: 50px 0px 100px 0px;
  background-color: white;
}



/*===== NAVBAR MENU =============================================================*/

/*Format of the main box surrounding the navbar*/
.ui.menu {
    /*background: white !important;*/
    /*background: black !important;*/
    border: 0px !important;
    box-shadow: 0 0 20px 0 rgba(34,36,38,.15) !important;
    height: 65px !important;
    /* z-index: 1 !important; */
    /*box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)*/
}

/*MENU LINK BOXES || Style for the box around the navbar link*/
.small.header.item {
  font-size: 1.5em !important!
  /*border-bottom: solid 2px white !important;*/
}

/*MENU LINKS || style for navbar links */
a.ui.small.header.item {
  background-color: white !important;
  color: purple;
}

/*MENU LINKS || style for navbar links when the link is active */
.ui.small.header.active.item {
  /*color: black !important;*/
  background-color: #44285b !important;
  /*border-bottom: solid 2px #bfbfbf !important;*/
  font-size:1.071em;
  font-weight: bold;
  color: white !important;
}

/*MENU LINKS || style for navbar links on rollover*/
a.ui.small.header.item:hover {
  background-color: #44285b !important;
  color: white !important;
  text-decoration: none !important;
}




/*============ PICTURES ========================================================*/

/*Formats copmany logo on company/details page*/
.company_logo_img {
  max-height: 150px;
  max-width: 200px
}

/*Formats name on contact card*/
.contact_name {
  font-size:1.25em;
}

/* Picture style for cards */
.card_style {
    width: 150px !important;
    height: 150px !important;
    border-radius: 0px !important;
}

.image_style {
  border-radius: 0px !important;
  border: solid 0px !important;
  box-shadow: 0px !important;
}

.title_placard {
  position:absolute !important;
  /* z-index: 3 !important; */
  bottom:0px !important;
  width:150px !important;
  height: 25px !important;
  background-color:black !important;
  color:white !important;
  text-align: center !important;
  padding-top:3px;
  opacity: 0.75;
}

.ui.image {
  border-radius: 0px !important;
}

/*====== BACKGROUND CARD (KEEP) ========*/
.ui.card,
.ui.cards>.card {
  border-radius: none !important;
  border: 0px !important;
  box-shadow: none !important;
}

/*======== DIMMED CARD IMAGE ==========*/
.ui.card>:first-child, .ui.cards>.card>:first-child {
  border-radius: 0px !important;
  border: 0px !important;
}




/*========== BUTTONS ==========================================================*/
.
ui.basic.button {
  /*border-color: 1px solid red !important;*/
  padding: 10px !important;
  /*margin: 10px !important;*/
}
