{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}KVA | Human Capital{% endblock %}

<!-- =============================================== -->
{% block header %}
  <h1>Edit</h1>
{% endblock %}
<!-- ================================================ -->

{% block content %}

{% if form.errors %}
  {{ form.errors }}
{% endif %}

<div class="row">
  <form class="ui form" enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

    <!-- CRISPY FORM -->
        {{ form|crispy }}

    <!-- SUBMIT BUTTON  -->

    <div class="row">
      <div class="ui two massive buttons">
        <button class="ui green button" type="submit" value="Save">Save</button>
        <button class="ui red button" action="">Cancel</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
