{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}KVA | Blog{% endblock %}

<!-- ====== TITLE ========================================= -->
{% block header %}
  <h1>New</h1>
{% endblock %}

<!-- ====== CONTENT ========================================= -->

{% block content %}

{% if form.errors %}
  {{ form.errors }}
{% endif %}


<form class="ui form" enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

    <!-- CRISPY FORM -->
    <div class="row">
        {{ form|crispy }}
    </div>
    <br>

    <!-- BUTTON -->
    {% include "snippets/createview.html" %}

</form>


{% endblock %}
